<%= form_for @inventory do |f| %>
  <div id=error_explanation>
  <% if @inventory.errors.any? %>
  <ul>
    <% @inventory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <br></br>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.submit %>
<% end %>
