<h2>Create an Account</h2>
<br>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class=error_explanation>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>:
  <br>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>:
  <br>
  <%= f.text_field :email %>
  <br />
  <%= f.label :password %>:
  <br>
  <%= f.password_field :password %>
  <br />
  <%= f.submit "Sign Up", :class => 'button' %>
<% end %>
