
<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div class=error_explanation>
      <ul>
        <% @parent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :items, @item do |item_builder| %>
    <%= item_builder.label :name %><br>
    <%= item_builder.text_field :name %><br></br>
    <%= item_builder.label :description %><br>
    <%= item_builder.text_field :description %><br></br>
    <%= item_builder.label :url %><br>
    <%= item_builder.text_field :url %><br></br>
  <% end %>

  <% if @parent.class.name.demodulize == "Inventory" && @items%>
    <%= f.label "Add an existing wishlist item to Inventory:" %><br>
    <%= f.collection_check_boxes :item_ids, @items, :id, :name %><br></br>
  <% end %>

  <%= f.submit "Add the item to '#{@parent.name}'", :class => 'button' %>
<% end %>
