
<%= form_for @wishlist do |f| %>
  <% if @wishlist.errors.any? %>
    <div class=error_explanation>
      <ul>
        <% @wishlist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <br></br>
  <%= f.label :name %>:<br>
  <%= f.text_field :name %><br></br>

  <%= f.label :description %>:<br>
  <%= f.text_field :description %><br></br>

  <%= f.submit :class => 'button'%>
<% end %>
