<br>
<%= link_to "My Wishlists", wishlists_path %><br></br>

<h3><%= @wishlist.name if @wishlist && @wishlist.name %> </h3>
<%= @wishlist.description if @wishlist.description %>
<br></br><%= link_to "Edit this Wishlist", edit_wishlist_path(@wishlist) if @wishlist %>

<ul>
<% @items.each do |item| %>
  <li><%= link_to item.name, wishlist_item_path(@wishlist, item) if item %></li>
<% end %>
</ul>
