<!DOCTYPE html>
<html>
  <head>
    <title>WishAndOwn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Wish and Own</h1>
      <nav>
        <%= render partial: '/layouts/navbar' %>
      </nav>
    </header>
    
    <img src="../../images/bookspic.jpg" alt="A room full of books" title="Wish and Own">
    <%= yield %>
  </body>
</html>
